@page "/"
@using ExcelToOdata.Data.Models
@using System.Xml.Linq
@using ExcelToOdata.Data.Services
@using ExcelToOdata.Pages.Components
@using Microsoft.OData.Edm
@using Radzen.Blazor

<PageTitle>Авторизация в Odata</PageTitle>
<div class="content">
    <div class="row flex-center min-vh-100 py-6">
        <div class="col-sm-10 col-md-8 col-lg-6 col-xl-5 col-xxl-4">
            <div class="card">
                <div class="card-body p-4 p-sm-5">
                    <ConnectionComponent /> 
                </div>
            </div>
        </div>
    </div>
</div>