.flex-center {
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}

.upload-custom, .rz-fileupload-buttonbar {
    background-color: transparent;
}

.rz-fileupload-content {
    width: 100%;
}


.text-description {
    font-size: 13px;
    line-height: 20px;
    color: #5d6e82;
}


/* Основной контейнер RadzenUpload */
.upload-btn {
    display: -webkit-inline-box; 
}

/* .rz-fileupload {
    padding: 0.5rem 0;
} */


/* Контейнер с рамкой */
.file-upload-container {
     display: flex;
    gap: 0.5rem;
    border: 1px solid #d1d5db;
    border-radius: 0.5rem;
    background-color: #fff;
    padding: 0.3rem;
    padding-bottom: 0;
}

.rz-fileupload {
    display: flex;
    align-items: baseline;
}

/* Надпись сверху */
.file-upload-label {
    font-size: 0.95rem;
    font-weight: 500;
    color: #111827;
}

/* Стили для самого RadzenUpload */
.file-upload-control .rz-button {
    border: 1px solid #d1d5db;
    border-radius: 0.375rem;
    background-color: #f9fafb;
    color: #111827;
    padding: 0.375rem 1rem;
    font-size: 0.9rem;
    cursor: pointer;
    transition: background-color 0.15s ease-in-out, border-color 0.15s;
}

.file-upload-control .rz-button:hover {
    background-color: #f3f4f6;
    border-color: #9ca3af;
}
